/* Genel Gövde Ayarları */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
}

/* Header İçeriği Kapsayıcı */
.header-content {
    max-width: 1300px; /* İçerik genişliği artırıldı */
    margin: 0 auto; /* Sağdan ve soldan ortalamak için */
    padding: 0 20px; /* İçerideki elemanları sağa ve sola yaklaştırmak için padding azaltıldı */
    display: flex; /* İçeriği yatay olarak hizalamak için */
    align-items: center; /* Dikey hizalama */
    justify-content: space-between; /* İçerikler arasındaki boşluğu eşit dağıtmak için */
}

/* Navbar içindeki logo */
.navbar-brand img {
    max-height: 50px;
}

/* Arama Çubuğu */
form.d-flex {
    flex-grow: 1;
    max-width: 300px;
    margin-right: 20px;
}

/* Menü Öğeleri */
.navbar-nav .nav-item {
    margin-left: 20px;
}

.dropdown-menu {
    min-width: 150px;
}

.dropdown-text {
    display: none;
    position: absolute;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    top: 50px;
    z-index: 1;
}

.nav-item:hover .dropdown-text {
    display: block;
}

/* Giriş Butonu */
.btn-success {
    padding: 6px 12px;
    font-size: 14px;
}

/****************************************************/

/* Tam Genişlikte Slider Konteyneri */
.slider-container {
    position: relative;
    width: 100%;
    height: 555px; /* Konteyner yüksekliği */
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; /* Header'dan 20px boşluk */
}

/* Slayt İçeriği */
.slider-content {
    width: 80%; /* Slider içerik genişliği (max-width) */
    max-width: 1200px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Slider */
.slider {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider.grabbing {
    cursor: grabbing;
}

/* Bireysel Slide */
.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 50px 0; /* Yukarıdan ve aşağıdan 50px boşluk */
}

/* Slide İçindeki Resimler */
.slide img {
    width: 100%;
    margin-top: 2px;
    height: calc(100%); /* Resimleri yukarıdan ve aşağıdan 50px içeri alma */
    object-fit: cover;
    border-radius: 10px;
}

/* Önceki ve Sonraki Butonlar */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Butonların Hover Durumu */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/****************************************************/

/* Slick Dots */
.dots {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
    z-index: 3;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #F6FEF4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active-dot, .dot:hover {
    background-color: #00C26D;
}

/****************************************************/

/* Logo Slider Konteyneri */
.logo-slider-container {
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Seçim Engelleme ve Drag işlemini engelleme */
.logo-slider-container img {
    user-select: none; /* Kullanıcının metni seçmesini engeller */
    -webkit-user-drag: none; /* Resimlerin sürüklenmesini engeller */
    pointer-events: none; /* Resimlerin etkileşimlerini devre dışı bırakır */
}


/* Logo Slayt İçeriği */
.logo-slider-content {
    width: 80%; /* İçerik genişliği */
    max-width: 1200px;
    overflow: hidden;
    position: relative;
}

/* Logo Slider */
.logo-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Bireysel Logo Slide */
.logo-slide {
    min-width: 150px; /* Logoların genişliği */
    margin: 0 15px; /* Logolar arasındaki boşluk */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Önceki ve Sonraki Butonlar */
.logo-prev, .logo-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
}

.logo-prev {
    left: 20x;
}

.logo-next {
    right: 20px;
}

.logo-prev:hover, .logo-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/****************************************************/

.events-section {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.events-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Kartlar arasındaki yatay boşluk 20px olarak ayarlandı */
    max-width: 1200px; /* Kartları içeren konteynerin genişliği */
    margin: 0 auto; /* Kartları yatayda ortalamak için */
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    height: 444px; /* Kartların yüksekliği sabitlendi */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px; /* Kartların genişliği */
    margin-bottom: 20px; /* Alttan boşluk */
    padding: 10px;
}

.card:hover {
    border-color: black;
}

.card-img-top {
    height: 150px; /* Resim yüksekliği */
    object-fit: cover;
    margin-bottom: 10px; /* Resim ve içerik arasında boşluk */
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* İçeriği üstten hizalamak için */
    align-items: center; /* İçeriği ortalamak için */
    text-align: center; /* Metni ortalamak için */
}

.card-title {
    font-size: 16px; /* Başlık boyutu */
    font-weight: bold;
    margin-bottom: 10px; /* Başlık ve alt metin arasında boşluk */
}

.card-text {
    font-size: 14px;
    color: #555;
    text-align: center; /* Metni ortalamak için */
    margin-bottom: 10px; /* Metin ve etiketler arasında boşluk */
}

.tags {
    margin-bottom: 10px; /* Etiketler ve buton arasında boşluk */
}

.tags .badge {
    margin-right: 5px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto; /* Footer'ın alt kısımda olmasını sağlar */
}

.text-center .btn-success {
    padding: 8px 16px; /* Buton boyutları */
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
    background-color: #00C26D;
}

.apply-btn {
    padding: 4px 12px; /* Butonun inceltilmiş padding değerleri */
    font-size: 13px; /* Font boyutu küçültüldü */
    font-weight: bold;
    background-color: #00C26D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Butonu geniş yapmak için */
    max-width: 120px; /* Butonun maksimum genişliği */
}

.apply-btn:hover {
    background-color: #02D076; /* Hover rengini koyulaştırdık */
}

.btn-success:hover{
    background-color: #02D076;
}

.application-deadline {
    font-size: 12px;
    color: #666;
    text-align: left;
    margin-left: auto;
    flex: 1;
}

.application-deadline span {
    display: block; /* Metinleri alt alta getirmek için */
}

.application-deadline .deadline-date {
    font-weight: bold; /* Tarihi kalın yapar */
    font-size: 16px; /* Tarih için biraz daha büyük font boyutu */
    margin-top: 5px; /* Tarih ile üstteki metin arasında boşluk */
}

/****************************************************/

.neden-techcareer {
    text-align: center;
    padding: 50px 0;
    background-color: #ffffff;
}

.neden-techcareer h2 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: left; /* Başlığı sola hizala */
    margin-left: 150px; /* İlk feature item ile hizalayacak şekilde margin ekle */
    font-weight: bold;
}

.features {
    display: flex;
    justify-content: flex-start; /* Feature item'ları soldan başlat */
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-item {
    flex: 1;
    max-width: 300px;
    padding: 0 20px;
    text-align: left;
}

.feature-item img {
    max-width: 80px;
    margin-bottom: 20px;
}

.feature-item h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.feature-item p {
    font-size: 14px;
    line-height: 1.5;
}


/****************************************************/

.career-guide {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../assets/career-guide-bg.png'); /* Arka plan resmi */
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 300px; /* Minimum yükseklik */
}

.career-content {
    position: relative;
    z-index: 1; /* İçeriği arka plan resminin önünde tutmak için */
    max-width: 600px;
    color: #000; /* Yazı rengi */
    margin-left: 100px; /* Sağ tarafa kaydırmak için margin-left ekleyelim */
}

.career-content h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.career-content h3 {
    font-size: 24px;
    color: #28a745; /* Yeşil renk */
    margin-bottom: 20px;
}

.career-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.career-content .btn-success {
    font-size: 16px;
    padding: 10px 20px;
}

/****************************************************/

.participant-section_2 {
    padding: 40px 0;
    text-align: center;
}

.participant-section_2 h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 75px;
    font-weight: bold;
}


.container_2 {
    max-width: 1100px;
    margin: 0 auto;
}

.participant-slider-container_2 {
    position: relative;
    overflow: hidden;
    max-width: 90%; /* Sağdan ve soldan içeri çekmek için genişliği ayarlandı */
    margin: 0 auto; /* Ortalamak için */
}

.participant-slider_2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Paddingler kaldırıldı */
}

.participant-slide_2 {
    flex: 0 0 calc(50% - 10px); /* Ekranın yarısını kaplasın, her biri arasında boşluk olsun */
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 5px; /* Kutular arasında boşluk */
    background-color: #fff;
}

.participant-img-container_2 {
    flex: 0 0 20%; /* Resim kısmı genişliği */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.participant-img_2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.participant-details_2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    height: 100%;
}

.participant-quote_2 {
    font-size: 14px;
    line-height: 1.5;
    overflow-y: auto;
    max-height: 100px; /* İçerik yüksekliği */
    text-align: left;
}

.participant-footer_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.participant-name_2 {
    font-weight: bold;
}

.participant-title_2 {
    font-size: 12px;
    color: #777;
}

.prev_2, .next_2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.prev_2 {
    left: 0px; /* Butonları kutunun içine çekmek için */
}

.next_2 {
    right: 0px; /* Butonları kutunun içine çekmek için */
}

.btn_2 {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn_2:hover {
    background-color: #218838;
}

/****************************************************/

.events-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    text-align: left;
    background-color: #fff;
}

.event {
    flex: 1;
    margin: 0 10px;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* İçeriği sola hizalar */
}

.event img {
    margin-bottom: 20px;
}

.event h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.event p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.event .btn-link {
    color: #28a745;
    font-weight: bold;
    text-decoration: none;
    margin-top: auto; /* Butonu en alt kısma yerleştirir */
    font-size: 16px;
}

/****************************************************/

.contact-section {
    background-color: #293349;
    padding: 40px 20px;
    text-align: center;
    color: #fff;
}

.contact-section h2 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contact-form input[type="email"] {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.contact-form button {
    padding: 0px 30px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 0 1px 1px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px; /* Yüksekliği ayarlamak için */
    box-shadow: 0 0 0 5px #fff; /* Etrafında beyaz boşluk */
    outline: none;
}


.contact-info {
    color: #8FCACE;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #00C26D;
}

.contact-info div {
    font-size: 16px;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info span {
    margin: 0 10px;
    color: #8FCACE;
}

/****************************************************/

.site-footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    font-size: 14px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #212529;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-logo {
    text-align: left; /* Metin ve logo sola hizalı */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo-img {
    max-width: 150px;
    margin-bottom: 8px;
}

.footer-logo p {
    font-size: 14px;
    color: #6c757d;
    margin: 0; /* Üst ve alt margin'i sıfırla */
}


.social-media {
    margin-top: 20px;
}

.social-media h4 {
    font-size: 14px;
    color: #212529;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: left;
}

.social-media a img {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

/****************************************************/

.legal-footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    font-size: 12px;
    color: #6c757d;
    border-top: 1px solid #dee2e6;
}

.legal-footer .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.legal-footer-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    color: #6c757d;
    padding-bottom: 10px;
}

.lang-section {
    display: flex;
}

.lang-section a {
    color: #6c757d;
    text-decoration: none;
    margin-right: 5px;
}

.lang-section a:hover {
    text-decoration: underline;
}

.copyright-section {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.copyright-section span {
    margin-right: 10px;
}

.copyright-section .support-email {
    color: #6c757d;
    text-decoration: none;
}

.copyright-section .support-email:hover {
    text-decoration: underline;
}

.legal-content {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.legal-content img.iskur-logo {
    margin-right: 15px;
    max-width: 50px;
}

.legal-content p {
    margin: 0;
    line-height: 1.5;
    font-size: 8.8px;
    color: #6c757d;
}





